@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.opensans {
  font-family: "Open Sans", sans-serif;
}

/* <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css"> */


.off-canvas-wrapper {
	padding-top: 20px;
}

.eda_banner{
	/* TODAY background:#EC008C; */
    background: linear-gradient(91.72deg, #EC008C 0.29%, #FCB900 81.16%, #F37021 95.55%) !important;
    display:block;
    height:auto;
    /* TODAY background:rgb(237,8,135); */
    /* padding-top:10px; */
    /* position:fixed; */
    /* padding: 5px 15px !important; */
	padding-left: 15px !important;
	padding-right: 15px !important;
	top:0; 
    width:100%;
    z-index:999;
	/* added below to make it work */
	line-height: 1.2 !important;
	font-family: "Open Sans" , Tahoma, Verdana, sans-serif;
	position: fixed;
	background-attachment: local;
	
}
.eda_banner p {
    display:block;
    color:#000;
    margin: 0;
    text-align:center;
    font-size:16px; /* modified to match */
	/* added below to make it work */
	/* border-bottom: none !important; */
	line-height: 1.2 !important;
	font-family: "Open Sans" , Tahoma, Verdana, sans-serif !important; /* moved to MasterPage */
	padding: 5px;
	font-weight: 600 !important;
}
.eda_banner p a {
    background-color: #E20880;
    border-radius: 20px;
    color: #fff !important;
    display: inline-block;
    font-size: 15px !important;
    /* font-weight: 600 !important; */
    padding: 5px 20px;
    margin-left: 7px;
    text-decoration: none;
	/* added below to make it work */
	border-bottom: none !important;
	/* line-height: 19.2px !important;
	font-family: open-sans, Tahoma, Verdana, sans-serif !important; */
	font-family: "Open Sans" , Tahoma, Verdana, sans-serif;
}
.eda_banner p a:hover{
	background-color: #000;
}