/* Dropdown Button */
.dropbtn 
{
width: 140px;
background-color: #015B82;
color: #FFFFFF;
padding: 12px;
border: none;
cursor: pointer;
}

/* Dropdown button on hover  focus */
.dropbtn:hover, .dropbtn:focus
{
background-color: #01374E;
}
/* The container  - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
width: 149px;
padding-right:10px;
/* For option in the menu */
}
.dropdown-content-itemright
{
float: right; 
width: 50%;
}
.dropdown-content-itemleft {
float: left; 
width: 50%;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #474747;
width: 94%;
border-color:red;
/*min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: #F3F4F6;
padding: 12px 14px;
text-decoration: none;
display: block;
border-bottom: 1px solid #474747 !important;
border-left: 1px solid #474747 !important;
border-right: 1px solid #474747!important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
color: #021B2F;
background-color: #F3F4F6;
display:block;
width:100%;
/* width: 69px; */
padding-right: 10px;
border-bottom: 1px solid #474747 !important;
border-left: 1px solid #474747 !important;
border-right: 1px solid #474747 !important;
}

/* Override bootstrap.css */
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}