/*<meta />*/
@import "SapStyles.css";

/* Internal Styles to Highlight content that requires review and are tagged with the class fortechreview */

p.fortechreview
{
	background-color: yellow;
}

ul.fortechreview
{
	background-color: yellow;
}
ol.fortechreview
{
	background-color: yellow;
}
li.fortechreview
{
	background-color: yellow;
}

pre.fortechreview
{
	background-color: yellow;
}

dl.fortechreview
{
	background-color: yellow;
}

dd.fortechreview
{
	background-color: yellow;
}

dt.fortechreview
{
	background-color: yellow;
}

span.fortechreview
{
	background-color: yellow;
}

MadCap:change
{
	background-color: yellow;
}

h1.fortechreview
{
	background: yellow;
}

h2.fortechreview
{
	background: yellow;
}

h3.fortechreview
{
	background: yellow;
}

h4.fortechreview
{
	background: yellow;
}

h5.fortechreview
{
	background: yellow;
}

h6.fortechreview
{
	background: yellow;
}

