/* Tabbed content for Solace. Examples, are release notes and the tabbed */

    ul.nav {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    .panel {
        border: 1px solid #ccc;
        overflow: scroll;
        margin-bottom: 10px;
    }

    ul.nav a {
        padding: 10px;
        margin-right: 10px;
        float: left;
        display: block;
        margin: 15px 10px 0 0;
        cursor: pointer;
        padding: 10px 15px;
        line-height: 42px;
        border-bottom: 2px solid #888;
        background: #f7f7f7;
    }

    ul.nav a {
        color: #888;
        text-decoration: none;
        transition: all .3s ease-out;
    }

    ul.tabs a:hover {
        background: #37474f;
        border-bottom: solid 3px #009193;
        color: #fff;
    }

    ul.tabs a.selected {
        background: #37474f;
        border-bottom: solid 3px #009193;
        color: #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    }

    .panel {
        padding: 10px;
        width: 550px;
        overflow: hidden;
    }

